<div class="row">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark nav-fill w-100">
        <a class="navbar-brand" href="#"><img src="assets/images/cart.png" class="logo" alt="" srcset=""> EKart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                    <a routerLink="/seller" routerLinkActive="active" class="nav-link">Sell Your Products</a>
                </li>
            </ul>
        </div>
    </nav>
</div>



<div>
    <router-outlet></router-outlet>
</div>