/* navbar settings */
.navbar-inverse{
    background-color: #282828;
    border: #282828;
  }
  .nav > li > a{
    color: #bfbfbf;
  }
    .nav > li > a:hover {
    background-color: transparent;
    color: #6aeeb9;
  }
  
  .nav > li > a:focus{
    background-color: transparent;
    color:orange;
  }
  .navbar .navbar-brand {
    font-weight: 400;
    font-size: 22px;
    background-color: transparent;
   
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
      
      color: orange !important;
    }