/* .panel {
    border: 1px solid rgb(12, 1, 48);
    color: blue ;
    background-color: cornsilk;
}

.myImage{
    width: 100px;
    height: 125px;
}
.myExpImage{
    width: 200px;
}
.modal-body{
    height: fit-content;
}
strong {
    color: rgb(250, 8, 8);
} */