<div class="page-top-offset"></div>
<div class="container mt-3">
    <div class="offset-md-2 col-md-8">
        <div class="form-bg-light">
            <h3 class="title">Profile Details</h3>
            <br>
            <table class="table table-condensed text-black">
                <tr>
                    <th>Name:</th>
                    <td>
                        <div *ngIf="updating!='updateName'">
                            {{customer.name}}

                            <div class="float-right">
                                <button (click)="linkClick('updateName')"
                                    class="btn btn-outline-dark btn-sm">Edit</button>
                            </div>
                        </div>

                        <div *ngIf="updating=='updateName'">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Enter name.."
                                    [(ngModel)]="customerToUpdate.name">

                            </div>
                            <div class="row">
                                <div class="btn-group btn-group-sm">
                                    <div class="col offset-2">
                                        <button class="btn btn-primary btn-sm" type="button"
                                            (click)="updateDetail('update')">Update</button>
                                    </div>

                                    <div class="col offset-2">
                                        <button class="btn btn-danger btn-sm" type="button"
                                            (click)="updateDetail('cancel')">Cancel</button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </td>
                </tr>

                <tr>
                    <th>Email Id:</th>
                    <td>
                        {{customer.emailId}}
                    </td>

                </tr>
                <tr>
                    <th>Phone Number:</th>
                    <td>
                        <div *ngIf="updating!='updatePhoneNumber'">
                            {{customer.phoneNumber}}
                            <div class="float-right">
                                <button (click)="linkClick('updatePhoneNumber')"
                                    class="btn btn-outline-dark btn-sm">Edit</button>
                            </div>

                        </div>

                        <div *ngIf="updating=='updatePhoneNumber'">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" [(ngModel)]="customerToUpdate.phoneNumber">

                            </div>
                            <div class="row">
                                <div class="btn-group btn-group-sm">
                                    <div class="col offset-2">
                                        <button class="btn btn-primary btn-sm" type="button"
                                            (click)="updateDetail('update')">Update</button>
                                    </div>

                                    <div class="col offset-2">
                                        <button class="btn btn-danger btn-sm" type="button"
                                            (click)="updateDetail('cancel')">Cancel</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>


            </table>

            <div *ngIf="errorMessage!='' && successMessage!=''">
                <h5 class="error-message text-center">{{errorMessage}}</h5>
                <h5 class="success-message text-center">{{successMessage}}</h5>
            </div>
        </div>
    </div>
</div>