<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a data-toggle="tab" class="nav-link active" href="#profile" (click)="view = 'profile'">Profile</a>
    </li>
    <li class="nav-item">
      <a data-toggle="tab" class="nav-link" href="#password" (click)="view = 'password'">Change Password</a>
    </li>
    <li class="nav-item">
      <a data-toggle="tab" class="nav-link" href="#address" (click)="view = 'address'">Shipping Address</a>
    </li>
  </ul>
  <br>
  <br>
  <div class="tab-content">

    <div id="profile" class="tab-pane fade show active">
      <customer-profile *ngIf=" view  =='profile'"></customer-profile>
    </div>
    <div id="password" class="tab-pane fade">
      <customer-change-password *ngIf="view=='password'"></customer-change-password>
    </div>
    <div id="address" class="tab-pane fade">
      <customer-address *ngIf="view=='address'"></customer-address>

    </div>
  </div>

</div>