<div class="col-md-8 offset-md-2 form-bg-light">
    <h3 class="title">Enter details to Update</h3>
    <form [formGroup]="updateUserDetailsForm" (ngSubmit)="updateSellerPassword()">
        <table class="table table-condensed">

            <tr>
                <th>Email Id:</th>
                <td>
                    <input readonly class="form-control" formControlName="emailId" />
                </td>
            </tr>
            <tr>
                <th>Enter old Password:</th>
                <td>
                    <input type="password" class="form-control" formControlName="password" />
                    <div *ngIf="updateUserDetailsForm.controls.password.touched">
                        <div class="field-error-message" *ngIf="updateUserDetailsForm.controls.password.invalid">
                            Password is Mandatory
                        </div>

                    </div>
                </td>
            </tr>
           
            <tr>
                <th>Enter New Password:</th>
                <td>
                    <input type="password" class="form-control" formControlName="newPassword" />
                    <div *ngIf="updateUserDetailsForm.controls.newPassword.touched">
                        <div class="field-error-message" *ngIf="updateUserDetailsForm.controls.newPassword.invalid">
                            New password is Mandatory
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <th>Re-Enter new Password:</th>
                <td>
                    <input type="password" class="form-control" formControlName="confirmNewPassword" />
                    <div *ngIf="updateUserDetailsForm.controls.confirmNewPassword.touched">
                        <div class="field-error-message" *ngIf="updateUserDetailsForm.controls.confirmNewPassword.invalid">
                            Should match the new password
                        </div>

                    </div>
                </td>
            </tr>
        </table>
        <div class="row">
            <button [disabled]="!updateUserDetailsForm.valid" class="col-md-3 offset-md-4 btn btn-success">
                Update
            </button>

        </div>
    </form>
    <div *ngIf="this.successMessage!=null" class="text-success text-center">{{successMessage}}</div>
    <div *ngIf="this.errorMessage!=null" class="text-danger text-center">{{errorMessage}}</div>
    <div *ngIf="this.infoMessage!=null" class="text-info text-center">{{infoMessage}}</div>
</div>
