<div class="page-top-offset"></div>
<div class="container-fluid">
    <div class="offset-md-3 col-md-6">
        <div class="form-bg-light">
            <h3 class="title">Change Password</h3>
            <br>
            <form [formGroup]="updateUserDetailsForm" (ngSubmit)="updateCustomerPassword()">

                <div class="form-group">
                    <label class="label-text-black" for="password">Password</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Password"
                        id="password" />
                    <div *ngIf="updateUserDetailsForm.controls.password.invalid
                                                        && updateUserDetailsForm.controls.password.touched">

                        <div class="field-error-message"
                            *ngIf="updateUserDetailsForm.controls.password.hasError('required')">
                            Password is Mandatory
                        </div>

                        <div class="field-error-message"
                            *ngIf="updateUserDetailsForm.controls.password.dirty && updateUserDetailsForm.controls.password.hasError('validatePassword')">
                            Password pattern is invalid
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label-text-black" for="newPassword">New Password</label>
                    <input type="password" class="form-control" formControlName="newPassword"
                        placeholder="Enter new password" id="newPassword" />
                    <div *ngIf="updateUserDetailsForm.controls.newPassword.invalid
                                                        && updateUserDetailsForm.controls.newPassword.touched">

                        <div class="field-error-message"
                            *ngIf="updateUserDetailsForm.controls.newPassword.hasError('required')">
                            Password is Mandatory
                        </div>

                        <div class="field-error-message"
                            *ngIf="updateUserDetailsForm.controls.newPassword.dirty && updateUserDetailsForm.controls.newPassword.hasError('validatePassword')">
                            Password pattern is invalid
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label-text-black" for="confirmPassword">Confirm New Password</label>
                    <input type="password" class="form-control" formControlName="confirmPassword"
                        placeholder="Re-enter new password" id="confirmPassword" />
                    <div *ngIf="updateUserDetailsForm.controls.confirmPassword.invalid
                                                        && updateUserDetailsForm.controls.confirmPassword.touched">

                        <div class="field-error-message"
                            *ngIf="updateUserDetailsForm.controls.confirmPassword.hasError('required')">
                            Password is Mandatory
                        </div>

                        <div class="field-error-message"
                            *ngIf="updateUserDetailsForm.controls.confirmPassword.dirty && updateUserDetailsForm.controls.confirmPassword.invalid">
                            Enter the password again
                        </div>
                    </div>
                </div>
                


                <br>
                <br>
                <div class="row">

                    <button class="col-md-4 offset-md-1 btn btn-success" [disabled]="!updateUserDetailsForm.valid ">
                        Update
                    </button>

                    <button class="col-md-4 offset-md-2 btn btn-primary" type="reset" (click)="errorMessage=null"
                        [disabled]="updateUserDetailsForm.pristine">
                        Reset
                    </button>


                </div>
            </form>
            <h5 class="error-message">{{errorMessage}}</h5>
            <h5 class="success-message">{{successMessage}}</h5>
            <div *ngIf="this.infoMessage!=null" class="text-info text-center">{{infoMessage}}</div>
        </div>
    </div>
</div>